html{
    font-size: 10px;
}
nav{
    background-color: transparent !important;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0 !important;
}

nav ul li a{
    color: #fff !important;
    display: inline-block;
    font-size: 1.8rem !important;
    padding: 0 !important;
}
nav .icons {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 10%;
}
nav .icons li{
    padding: 0 10px;
}
nav .navbar-nav a{
    padding: 10px 20px !important;
}
nav .icons li a{
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 2.8rem !important;
    font-weight: 300 !important;
}
nav .icons li:last-child a svg path{
    stroke-width: 17px;
}
nav .navbar-nav{
    margin-top: 0 !important;
}
.mobile-bar{
    margin-right: 5%;
}

nav .product_active:hover{
    background-color: #fff;
    color: #1c1d1d !important;
}

nav .parent_item{
    position: relative;
}
nav .parent_item:hover a{
    color: #1c1d1d !important;

}
nav .parent_item:hover{
    background-color: #fff;
}
nav .sub_menu{
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
nav .sub_menu li {
    margin: 10px 0 !important;
}
nav .sub_menu li a{
    padding: 0 !important;
    padding: 5px 20px !important;
    display: inline-block;
    color: #1c1d1d !important;
    text-align: left;
    width: 100%;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 0.3s;
}
nav .sub_menu li a:hover{
    margin-left: 5px;
}
nav .parent_item:hover .sub_menu{
    opacity: 1;
    visibility: visible;
}