html{
   font-size: 10px;
}
/* =============== HERO CSS START ====================*/
#hero{
   height: 650px;
   overflow: hidden;
   position: relative;
}
#hero::before{
   content: '';
   position: absolute;
   inset: 0;
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.65);
}
#hero video{
   width: 100%;
   aspect-ratio: 16 / 9;
   position: absolute;
   top: 0;
   left: 0;
   
}
#hero .container {
   z-index: 550;
   position: relative;
}
#hero .container h1{
   font-size: 8rem;
   font-family: "Chivo", sans-serif;
   color: #fff;
   font-weight: 700;
   letter-spacing: 0.06em;
}
#hero .container p{
   font-family: "Chivo", sans-serif;
   color: #fff;
   font-family: sans-serif !important;
   letter-spacing: 3.77px;
   line-height: 3rem;
   font-size: 1.8rem;
   font-weight: 300;

}
#hero button{
   margin-top: 10px;
   padding: 11px 20px;
   font-weight: bold;
   display: inline-block;
   background: transparent;
   border: 1px solid #fff;
   color: #fff;
   font-size: 1.6rem;
   text-transform: capitalize;
   /* transition: 0.3s; */
}
#hero button:hover{
   background-color: #fff;
   color: #333;
   padding: 11px 30px;
}
#hero .arrow{
   display: none;
   padding-left: 10px;
}
#hero button:hover .arrow{
   display: inline-block;
}
@media (max-width: 1140px) { 
   #hero{
      height: 100vh;
   }
   #hero video{

      width: auto;
      height: 100vh;
      aspect-ratio: 9 / 16;
      inset: 0;
      aspect-ratio: auto;
      /* background-color: red !important ; */
   }
 }
/* =============== HERO CSS END ======================*/